body, text, li {
  font-family: Quicksand, Sans-Serif;
}

[v-cloak] > * {
  display: none;
}

a:hover {
  text-decoration: none;
}

.menu-icon {
  font-size: 16px;
  margin: -5px 15px 0 5px;
}

input {
  box-shadow: none !important
}

p[contenteditable] {
  max-height: 200px;
  max-width: 100%;
  overflow: auto;
  white-space: pre-line;
  margin-bottom: 1px;
  padding-top: 5px;
  color: #5f6368;
}

.estimated_time {
  color: #e00052;
  font-size: 12px;
  border: 1px solid #e00052;
  border-radius: 8px;
  padding: 0px 6px;
  margin-right: 15px;
  width: 54px;
  display: inline-block;
  text-align: center;
}

._estimated_time {
  color: rgba(224, 0, 82, .75);
  font-size: 9px;
  border-radius: 8px;
  padding: 0px 6px;
  margin-right: 15px;
  width: 54px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -5px;
}

.time_spent {
  color: #00a7e0;
  font-size: 13px;
  font-weight: lighter;
  border-radius: 8px;
  margin-left: 7px;
}

.time_spent_badge {
  // background-color: #00a7e0;
  color: #00a7e0;
  font-size: 12px;
  border: 1px solid #00a7e0;
  border-radius: 8px;
  padding: 0px 6px;
  margin-right: 15px;
  min-width: 60px;
  max-width: 90px;
  display: inline-block;
  text-align: center;
}

.node-text {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: black;
}
