.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}

.el-dialog__body {
  padding-top: 10px;
}

.level-label {
  margin-top: 15px;
}

.iconwill {
  padding-right: 2.5px;
  padding-left: 2.5px;
}

.icongroove {
  transform: scale(.90, 1);
}

.iconcalmness {
  margin-right: 3px;
  transform: scale(.90, 1);
}
