<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BurnThrough</title>
    {# <link rel="icon" href="{{ url_for('static', path='img/laser-squere.png') }}"> #}
    <link rel="icon" href="/static/img/laser-squere.png">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">

    <style>
        div {
            font-family: Quicksand, Sans-Serif;
        }

        [v-cloak] > * {
            display: none;
        }
        /*
        [v-cloak]::before {
            content: "<h1>loading...</h1>";
        }
        */
    </style>
    {% block extra_css %}{% endblock %}
</head>

<body>

<i class="fas fa-spinner fa-spin fa-4x" style="position: absolute; margin-top: 25vh; margin-left: 48%; z-index: -1"></i>

<div id="app" v-cloak style="background-color: white">

<el-container style="height: 100vh; border: 1px solid #eee">

  <el-aside width="200px" style="background-color: rgb(238, 241, 246);">

    <el-menu :default-openeds="['1', '3']">

        <a href="/" style="color: #00a7e0">
        <div style="padding: 15px 10px 15px 15px; background-color: white; margin-bottom: -15px; cursor: pointer">
            <i class="fas fa-user-ninja" style="background-color: #d1e0f4; padding: 5px 5px 0 5px; border-radius: 5px; font-size: 25px; margin-right: 5px"></i>
            <b style="font-size: 20px;">César HM</b>
            {# <img src="{{ url_for('static', path='img/laser.png') }}" width="40" style="margin-top: -7px"> #}
        </div>
        </a>

        <el-menu-item-group>
            <a href="/diary/2019-04-18"><el-menu-item index="2-1">Diary</el-menu-item></a>
            <el-menu-item index="2-2">Throughput</el-menu-item>
            <el-menu-item index="2-3">Burn Down</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="2-4">
            <template slot="title">Option 4</template>
            <el-menu-item index="2-4-1">Option 4-1</el-menu-item>
        </el-submenu>

        {#
        <el-submenu index="1">
        <template slot="title"><i class="el-icon-message"></i>Perfil</template>
        <el-menu-item-group>
          <template slot="title">Group 1</template>
          <el-menu-item index="1-1">Option 1</el-menu-item>
          <el-menu-item index="1-2">Option 2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="Group 2">
          <el-menu-item index="1-3">Option 3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title">Option4</template>
          <el-menu-item index="1-4-1">Option 4-1</el-menu-item>
        </el-submenu>
      </el-submenu>
        #}
    </el-menu>

    <el-footer>
        <br/>
        Footar
    </el-footer>

  </el-aside>

  <el-container>

    <el-header style="text-align: right; font-size: 12px; background-color: #f8f7ff; box-shadow: 0px 1px 2px rgba(0,0,0,.1); z-index: 11">
        {% block header %}{% endblock %}
    </el-header>

    <el-main style="padding: 0;">

        <div style="padding: 10px; width: 100%; min-height: calc(100% - 75px);">
            {% block content %}{% endblock %}
        </div>

        <div style="border-top: 1px solid #00a7e0; min-width: 100%; height: 75px; text-align: center; padding-top: 10px">
            <p class="col-sm-3 col-xs-6" style="margin-top: 20px">BurnThrough 0.0.1</p>
            <div class="col-xs-6">
                <img src="/static/img/laser.png" width="55">
            </div>
        </div>

    </el-main>

  </el-container>

</el-container>
</div>

</body>

<script
  src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
  integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
  crossorigin="anonymous"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>

<script>
  ELEMENT.locale(ELEMENT.lang.en)
</script>

{% block extra_js %}{% endblock %}

</html>
