{% extends "base.html" %}

{% block extra_css %}
  <link rel="stylesheet" href="/statics/css/burndownStyles.css">
{% endblock %}

{% block header %}
  <div></div>
{% endblock %}

{% block content %}
<el-calendar>
  <!-- Use 2.5 slot syntax. If you use Vue 2.6, please use new slot syntax-->
  <template
          slot="dateCell"
          slot-scope="{date, data}">
    <p :class="data.isSelected ? 'is-selected' : ''">
      {{ data.day.split('-').slice(1).join('-') }} {{ data.isSelected ? '✔️' : ''}}
    </p>
  </template>
</el-calendar>
<style>
  .is-selected {
    color: #1989FA;
  }
</style>
{% endblock %}

{% block extra_js %}
<script>
  const serverData = [];
</script>
<script src="/statics/js/calendar.js"></script>
{% endblock %}
