<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BurnThrough</title>
    {# <link rel="icon" href="{{ url_for('static', path='img/laser-squere.png') }}"> #}
    <link rel="icon" href="/static/img/laser-squere.png">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">

    <style>
        div {
            font-family: Quicksand, Sans-Serif;
        }

        [v-cloak] > * {
            display: none;
        }
        /*
        [v-cloak]::before {
            content: "<h1>loading...</h1>";
        }
        */
    </style>
    {% block extra_css %}{% endblock %}
</head>

<bod>

    <div class="col-xs-3"></div>

    <div class="col-xs-6" style="box-shadow: 0 1px 5px rgba(0,0,0,.2); margin-top: 50px; padding: 15px; border-radius: 10px">
        <h1>Regístrate</h1>

            <a class="btn btn-primary" style="background-color: black"
               href="https://github.com/login/oauth/authorize?scope=user:email&client_id=7851154fc76a8a0694ba">
                Login <i class="fab fa-github"></i>
            </a>

    </div>


</bod>

<script
  src="https://code.jquery.com/jquery-3.4.0.slim.min.js"
  integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI="
  crossorigin="anonymous"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/element-ui"></script>
<script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>

<script>
  ELEMENT.locale(ELEMENT.lang.en)
</script>

{% block extra_js %}{% endblock %}

</html>

