{% extends "base.html" %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/throughput.css">
{% endblock %}

{% block header %}
  <el-date-picker
          type="date"
          placeholder="Change Day"
  >
  </el-date-picker>
{% endblock %}

{% block content %}
  <div class="indicator primary">
    <p class="indicator-label">Progr Avg</p>
    23
  </div>
  <div class="indicator secondary">
    <p class="indicator-label">Misc Avg</p>
    14
  </div>
  <div class="graph" id="weeklytp"></div>
  <div class="graph" id="chartz"></div>
{% endblock %}

{% block extra_js %}
  <script src="/static/js/throughput.js"></script>
{% endblock %}

